
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina+2:500&display=swap');

body {
        background-color: beige;
        font-family: 'Baloo Bhaina 2', cursive;
    }
#canvasimg{
    width: 850px;
    position: absolute;
    top: -20px;
    left: -30px;
}

#c1 {
        background-color: transparent;
        position: absolute;
        left:100px;
        top:220px;
    }

table{  
        table-layout: fixed;
        border: 1px solid black;
        width: 1200px;
        height: 100px;
        position: absolute;
        left: 50px;
}

td{
    text-align: center;
}

#robot{
    position: absolute;
    top: 400px;
    left: 700px;
}

#robotimg{
    position: relative;
    top:30px;
    left: 50px;
    width: 350px;
}

#bubble{
    width: 400px;
    position: relative;
    top: -580px;
    left: 150px;
}

#dialog{
    transform: rotate(10deg);
}

#dialogText{
    width: 250px;
    position: absolute;
    top:-500px;
    left: 250px;
    transform: rotate(15deg);
    font-size: 20px;
}
